@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
/* nav bar css */
.nav-buttoon{
    border: none !important;
}
.nav-buttoon:focus{
    border: none !important;
    outline: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

/* foter css */
@media (max-width:576px) {
    .foter-justfy{
        display: flex;
        justify-content: center;
    }
    .foter-side-left{
        margin-left: 60px !important;
    }
}
.foter-input{
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.637);
}
.foter-buton{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.637);
    background-color: transparent;
}

.foterancertag a{
    text-decoration: none;
    color: black;
}
.foterancertag a:hover{
    text-decoration: underline;
}
.nav-canvas-text{
    color: #ba923e;
}
.ofcanvas-main-body{
    height: 86%;
}
.canvas-buton{
    height: 5.2vh;
    width: 7rem;
    border: 1.4px solid black;
    border-radius: 20px;
    background-color: transparent;
}

.bg-image-part1-comaprision{
    height: 60vh;
    width: 100%;
    background-image: url(comaprsionimage/Rectangle\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 13vh;

}
.view-more-line{
    text-decoration: underline;
}
.img-asecpt-ratio{
    aspect-ratio: 3/2;
}
.font-size-part3{
    font-size: 14px;
}
.salect-part3{
    background-color: #ba923e;
    color: white;
    border-radius: 3px;
    border: none;
    /* outline: none; */
    padding: 5px;
    margin-top: 5px;
}
.salect-part3 option{
    background-color:  aliceblue;
    color: black;
}
.bt-foraddtocart{
    height: 40px;
    width: 10rem;
    background-color: #ba923e;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 3px;
}
.section-for7prow{
    background-color: #faf4eb;
    padding: 10px;

}
.tropy-forchild-part7{
    font-size: 15px;
    line-height: 5px;
    padding-top: 4px;
}
.text-forchild-part7{
    font-size: 13px;
}
.justy-part6{
    text-align: justify;
}
.border-div0part{
    border: 0.7px solid rgba(0, 0, 0, 0.329);
    border-radius: 2px;
}
.main-for-childpart2{
    background-color: #f9f2e8;
    padding: 10PX;
}


@media (max-width:576px) {
    .center-text-sm{
        text-align: center;
    }
}
@media (max-width:768px) {
    .center-sm-part6{
        text-align: center;
    }
}
