@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
/* nav bar css */
.nav-buttoon{
    border: none !important;
}
.nav-buttoon:focus{
    border: none !important;
    outline: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

/* foter css */
@media (max-width:576px) {
    .foter-justfy{
        display: flex;
        justify-content: center;
    }
    .foter-side-left{
        margin-left: 60px !important;
    }
}
@media (max-width:992px) {
    .navbar-gap{
        gap: 7px !important;
    }
}
.foter-input{
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.637);
}
.foter-buton{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.637);
    background-color: transparent;
}

.foterancertag a{
    text-decoration: none;
    color: black;
}
.foterancertag a:hover{
    text-decoration: underline;
}
.nav-canvas-text{
    color: #ba923e;
}
.ofcanvas-main-body{
    height: 86%;
}
.canvas-buton{
    height: 5.2vh;
    width: 7rem;
    border: 1.4px solid black;
    border-radius: 20px;
    background-color: transparent;
}
.section-for7prow{
    background-color: #faf4eb;
    padding: 10px;

}
.tropy-forchild-part7{
    font-size: 15px;
    line-height: 5px;
    padding-top: 4px;
}
.text-forchild-part7{
    font-size: 13px;
}


.bg-image-part1-comaprision{
    height: 60vh;
    width: 100%;
    background-image: url(checkimages/Rectangle\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 13vh;

}