@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
.curser-icon{
    cursor: pointer;
}
.nav-canvas-text{
    color: #ba923e;
}
.ofcanvas-main-body{
    height: 86%;
}
.canvas-buton{
    height: 5.2vh;
    width: 7rem;
    border: 1.4px solid black;
    border-radius: 20px;
    background-color: transparent;
}
.main-backgroun-img{
    height: 90vh;
    width: 100%;
    background-image: url(imgages/scandinavian-interior-mockup-wall-decal-background\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container-first{
    background-color: #fff4e4;
    height: 50vh;
    width: 88%;
    padding: 25px;
    border-radius: 4px;
    margin-top: 30vh;
    
}
.main-heading1{
    color: #ba923e;
    font-weight: 700;
}
.button-first-main{
    background-color: #ba923e;
    color: white;
    padding: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 500;
}
.img-detailes{
    margin-top: -10px;
}
.abs-div-img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgba(243, 38, 38, 0.788);
    position: absolute;
    top: 15px;
    right: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 12px;
}
.abs-div-img1{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgba(39, 185, 185, 0.945);
    position: absolute;
    top: 15px;
    right: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 12px;
}

.child-blur{
    height: 100%;
    display: flex;
    align-items: end;
}
.abs-for-blur-child{
    position: absolute !important;
    text-align: center;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.346);
    height: 100%;
    width: 100%;
    /* display: none !important; */
    opacity: 0;
    color: white !important;
    transition: all 1s 0.01s ease !important;

}
.main-for-cart{
    background-color: #f4f5f7;
    position: relative;
    border-radius: 1px;
}
.main-for-cart:hover .abs-for-blur-child{
    /* display: block !important; */
    opacity: 1 !important;

}
.linethrow{
    text-decoration: line-through;
}


.nav-buttoon{
    border: none !important;
}
.nav-buttoon:focus{
    border: none !important;
    outline: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

.btn-Explore-butt{
    background-color: #ba923e;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 1px;
    padding-left: 20px;
    padding-right: 10px;
}
.bg-color424{
    background-color: #fcf8f3;
}
.container-childfor438{
    height: 20vh;
    width: 11rem;
    background-color: white;
    padding: 10px;
}
.icon-arrow{
    height: 40px;
    width: 40px;
    background-color: #ba923e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 13vh;
}
.container-parentfor437{
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 50px;
    left: 20px;
}

.img-for-childpng24{
    object-fit: cover;
}

@media (min-width:1400px) {
    .bg-imgage-forblur{
        height: 50vh;
    }
    .blur-div119{
        height: 70vh;
    }
}
.none-for-md{
    display: none;
}
.marginimg2{
    margin-top: 120px;
}
.marginimg3{
    margin-top: -30px;
}
.marginimg4{
    margin-top: 20px;
}
.marginimg5{
    margin-top: -30px;
}
.marginimg8{
    margin-top: -17px;
}
.marginimg9{
    margin-top: -30%;
}
.foter-input{
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.637);
}
.foter-buton{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.637);
    background-color: transparent;
}
.foterancertag a{
    text-decoration: none;
    color: black;
}
.foterancertag a:hover{
    text-decoration: underline;
}


.gol-div-part5main{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2.3px solid #ba923e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gol-div-childpart5{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(178, 176, 176);
   
}
.main-for-anker-tag{
    text-decoration: none;
    color: black;
}

@media (max-width:768px) {
    .none-for-md{
        display: block;
        margin-top:15px;
    }
    .main-conatainer-div-none{
        display: none;
    }
    .nav-item{
        line-height: 10px !important;
    }
    .marginimg2{
        margin-top: 10px !important;
        object-fit: cover;
    }
    .marginimg3{
        margin-top: 10px !important;
    }
    .marginimg4{
        margin-top: 10px !important;
    }
    .marginimg5{
        margin-top: 10px !important;
    }
    .marginimg8{
        margin-top: 10px !important;
    }
    .marginimg9{
        margin-top: 10px !important;
    }
  
}
@media (max-width:992px) {
    .navbar-gap{
        gap: 7px !important;
    }
}
@media (max-width:576px) {
    .foter-justfy{
        display: flex;
        justify-content: center;
    }
    .foter-side-left{
        margin-left: 60px !important;
    }
}