*{
    padding: 0;
    margin: 0;
}
.suresh {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200801/pngtree-purple-abstract-background-fluid-gradient-with-wave-forms-image_375467.jpg");
    height: 37rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputs{
    margin-top: 2rem;
}
.dis {
    display: flex;
    gap: 3px;
}

.joshi {
    height: 60%;
    width: 40%;
    backdrop-filter: blur(100px);
    font-size: 20px;
    border-radius: 20px ;
    padding: 10px 45px;
}

.ram input {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    border-bottom: 2px solid rgb(10, 168, 212);
    color: white !important;
}
.butt{
    text-align: center;
    width: 100%;
}
.butt button{
    background-color: aqua;
    color: red;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
}


.btn:hover{
    background-color: white;
    color: black;
}
@media (max-width:950px) {
    h2{
        font-size: 20px;
    }
    .joshi{
        width: 80%;
    }
   
}
@media (max-width:400px) {
   .butt button{
        font-size: 17px;
        font-weight: 500;
    }
}