*{
    padding: 0;
    margin: 0;
}
.suresh {
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.inputs{
    margin-top: 2rem;
}
.dis {
    display: flex;
    gap: 3px;
}

.joshi {
    height: 100%;
    width: 40%;
    backdrop-filter: blur(100px);
    font-size: 20px;
    border-radius: 20px ;
    padding: 10px 45px;
    background-color: #ba933e2f;
    box-shadow: 2px 3px 20px 2px #ba923e;
}

.ram input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 7px;
    color: black;
}
.butt{
    text-align: center;
    width: 100%;
}
.butt button{
    background-color: #ba923e;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.btn:hover{
    background-color: white;
    color: black;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Video background style */
  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    z-index: -1;
  }
  
  body {
    height: 100vh;
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* .form-control:focus{
  box-shadow: 0 0 0 .25rem red!important;
} */


.form-control-active{
  display: block;
  width: 100%;
  padding: .375rem .75rem!important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color:  #212529;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid black;
  border-radius:0.8rem;
  transition: border-color .15sease-in-out, box-shadow .15sease-in-out;
}

.form-control-after:focus{

  color: #212529 !important;
  background-color: #fff !important;
  border-color: #86b7fe!important;
  outline: 0!important;
  box-shadow: 0 0 0 .25rem red!important;
}

.form-control-active{
    display: block;
    width: 100%;
    padding: .375rem .75rem!important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:  #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius:0.8rem;
    transition: border-color .15sease-in-out, box-shadow .15sease-in-out;
  }

  .form-control-after:focus{

    color: #212529 !important;
    background-color: #fff !important;
    border-color: #86b7fe!important;
    outline: 0!important;
    box-shadow: 0 0 0 .25rem red!important;
  }
  


@media (max-width:950px) {
    h2{
        font-size: 20px;
    }
    .joshi{
        width: 80%;
    }
   
}
@media (max-width:400px) {
   .butt button{
        font-size: 17px;
        font-weight: 500;
    }
}

