.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
   
}
.main{
    height: 85%;
    width: 40%;
    backdrop-filter: blur(100px);
    font-size: 20px;
    border-radius: 20px ;
    padding: 10px 45px;
    background-color: #ba933e2f;
    box-shadow: 2px 3px 20px 2px #ba923e;
    color: black;
}
.main input{
    height: 50px;
    width: 50px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    padding: 14px;
}
button{
    background-color: #ba923e !important;
    color: white !important;
}
.heading{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
@media (max-width:400px) {
    .main input{
        height: 25px;
        width: 25px;
        font-size: 16px;
        font-weight: normal;
        padding: 8px;
    }
}