@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
/* nav bar css */
.nav-buttoon{
    border: none !important;
}
.nav-buttoon:focus{
    border: none !important;
    outline: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

/* foter css */
@media (max-width:576px) {
    .foter-justfy{
        display: flex;
        justify-content: center;
    }
    .foter-side-left{
        margin-left: 60px !important;
    }
}
.foter-input{
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.637);
}
.foter-buton{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.637);
    background-color: transparent;
}

.foterancertag a{
    text-decoration: none;
    color: black;
}
.foterancertag a:hover{
    text-decoration: underline;
}


.abs-for-blur-child{
    position: absolute !important;
    text-align: center;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.346);
    height: 100%;
    width: 100%;
    opacity: 0;
    color: white !important;
    transition: all 1s 0.01s ease !important;

}
.main-for-cart{
    background-color: #f4f5f7;
    position: relative;
    border-radius: 1px;
}
.main-for-cart:hover .abs-for-blur-child{
    /* display: block !important; */
    opacity: 1 !important;

}
.linethrow{
    text-decoration: line-through;
}
.abs-div-img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgba(243, 38, 38, 0.788);
    position: absolute;
    top: 15px;
    right: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 12px;
}
.abs-div-img1{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgba(39, 185, 185, 0.945);
    position: absolute;
    top: 15px;
    right: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 12px;
}
.img-detailes{
    margin-top: -10px;
}



.nav-canvas-text{
    color: #ba923e;
}
.ofcanvas-main-body{
    height: 86%;
}
.canvas-buton{
    height: 5.2vh;
    width: 7rem;
    border: 1.4px solid black;
    border-radius: 20px;
    background-color: transparent;
}

.bg-color-forpart1{
    background-color: #f9f2e8;
    border-radius: 1px;
}

.img-part2{
   border-radius: 7px;
    background-color: #f9f2e8;
    margin-top: 10px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buton-forshopeinslider1{
    height: 40px;
    width: 40px;
    background-color:#ba923e ;
    color: white;
    border: none;
    border-radius: 3px;     
}
.buton-forshopeinslider2{
    height: 40px;
    width: 40px;
    background-color:#f9f2e8 ;
    color: black;
    border: none;
    border-radius: 3px;     
}
.buton-forshopeinslider3{
    height: 40px;
    width: 40px;
    background-color:#f9f2e8 ;
    color: black;
    border: none;
    border-radius: 3px;     
}
.buton-forshopeinslider1:hover{
    background-color:#f9f2e8 ;
    color: black;
}
.buton-forshopeinslider2:hover{
    background-color:#ba923e ;
    color: white;
}
.buton-forshopeinslider3:hover{
    background-color:#ba923e ;
    color: white;
}
.color-divpart2-vilot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #924bf3;
}
.color-divpart2-black{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #000000;
}
.color-divpart2-brown{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #ba923e;
}
.button-forpart2{
    height: 8vh;
    width: 8rem;
    border: 1.3px solid black;
    border-radius: 10px;
    background-color: transparent;
}
.child-part3-content{
    width: 85%;
    text-align: justify;
    margin-top: 19px;
}

.button-for-foter-part{
    border: 1.5px solid #ba923e;
    color: #ba923e;
}
.button-for-foter-part
@media (max-width:992px) {
    .navbar-gap{
        gap: 7px !important;
    }
}